body{
    margin: 0px;
    height: max-content;
}
/* LINK */
.link_decorate{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.link_decorate:hover{
    color: #65A0E5;
    cursor: pointer;
}
.footer_list{
    font-size: 1.43em;
    padding: 1.25em;
    color: #FFFFFF;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.footer_listitem{
    font-size: 0.9em;
    margin-top: 1.25em;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.footer_para{
    text-align: center;
    color: #FFFFFF;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}
.footer_listitem_logo{
    width: 150px;
    height: 150px;
}
.footer_listitem_logo_mobile{
    display: none;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.footer_listitem_logo_container{
    display: flex;
    justify-content: space-around;
}
/* Img */
.logo_main_header{
    width: 5em;
    height: 5em;
    margin-top: 3px;
    margin-bottom: 1px;
}
.logo_main_footer{
    width: 7.8125em;
    height: 7.8125em;
}
/* HOME */
.black_textBold{
    color: #000000;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.element1_para{
    width: 92%;
    font-size: 1.7em;
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}
.element1_card_item1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  justify-content: space-evenly;
}
.moreinfobtn{
    margin-bottom: 0.5em;
    border-radius: 10px;
    font-size: 1.3em;
    width: 20em;
    height: 2.3em;
    background-color: #11324D;
    color: white;
    display: flex;             
    align-items: center;      
    justify-content: center;   
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.moreinfobtn:hover{
    background-color: #65A0E5;
    color: white;
}
.element3_para {
    text-align: center;
    font-size: 1em;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.center_btn{
  justify-items: center;
}
/* PRODUCT */
.product_name1{
    color: #11324D;    
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
    font-size: 30px;
    margin-top: 0px;
}
.product_name2
{
    font-size: 28px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#9F4543;
}
.container_left_text1
{
    font-size: 35px;
    margin-left:40px;
    color: #11324D ;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.container_left_text2
{
    text-align: justify;
    font-size: 25px;
    margin-left: 40px;
    color: #000000;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.container_right_booktext1
{
    font-size: 40px;
    margin-left: 3em;  
    color: #11324D ;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.container_right_booktext2
{
    font-size: 32px; 
    margin-left: 1em;  
    color: #000000;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.container_text
{
    margin-left: 110px;
    margin-top: 3em;
    font-size: 20px;
    color: #11324D ;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.description
{
    text-align: justify;
    font-size: 25px;
    margin-left: 110px;
    margin-right: 110px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #000000;
}
.h2_text
{
    font-size: 35px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
/* BACKGROUND */
.deep_blue{
    background-color: #11324D ;
}
.light_blue{
    background-color: #65A0E5;
}
.light_purple{
    background-color: #D1D7ED;
}
.white_egg{
    background-color: #FFF5E5;
}
/* TEXT */
.deep_blue_text{
    color: #11324D ;
}
.light_blue_text{
    color: #65A0E5;
}
.white_text{
    color: #FFFFFF;
}
.black_text{
    color: #000000;
}
.light_purple_text{
    color: #D1D7ED;
}
.red_text{
    color:#9F4543;
}
.Lexend_bold{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.Lexend_regular{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}
.Lexend_light{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}