/* Footer */
.container_footer{
    width: 100%;
    height: 31em;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer_left{
    margin: 100px;
}
.footer_right{
    width: 50%;
    margin: 3.125em;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.lg_footer{
    margin-left: 40%;
}
.copyright_text{
    color: white; 
    text-align: end; 
    padding-right: 12px;
    padding-bottom: 12px;
}
