.container_header{
    width: 100%;
    height: 6.5em;
    flex-direction: row;
    justify-content: flex-end;
}
.header{    
    width: 100%;
    height: 6.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_fontsize{
    font-size: 1.5em;
}
