.banner{
    width: 100%;
    height: 30%;
}
.element1{
  margin-top: 3em;
  display: flex;
  flex-direction: row;
}
.element1_title{
  background-color: #AEB4B2;
  text-align: center;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 20em;
  height: 1.8em;
  padding-top: 20px;
  font-size: 2.5em;
}
.element1_card{
  padding: 6em 1em 0 1em;
  width: 90%;
  height: max-content;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2em;
}
.element1_product{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
}
.element1_item-title{
  text-align: center;
  font-size: 1.7em;
}
.element1_card_item2{
  margin-right: 4em;
}
.element2_box{
  margin-top: 5em;
  margin-right: 2em;
}
.element2{
  justify-content: space-between;
  margin-top: 8em;
  display: flex;
  width: 100%;
}
.element2_title{
  font-size: 3em;
  margin-left: 1em;
}
.element2_text{
  font-size: 2em;
  margin-top: 1em;
  margin-left: 1.7em;
}
.element2_para{
  margin-top: 1.5em;
  font-size: 1.76em;
  margin-left: 2em;
  margin-right: 0.2em;
}
.element2_moreinfobtn{
  width: 100%;
  margin-top: 2em;
  height: auto;
  justify-items: center;
}
.element3{
  margin-top: 5%;
}
.element3_box{
  width: 100%;
  height: max-content;
  padding-bottom: 2em;
  background-color: #AEB4B2;
}
.element3_title{
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.element3_content-child{
  margin-bottom: 1em;
  width: 30%;
}
.element3_content{
  display: flex;
  justify-content: space-evenly;
}
.element3_icon{
  font-size: 7em;
  text-align: center;
  margin-top: 0.2em;
}
.center_btn{
  justify-items: center;
}
